<ion-view view-title="订单详情">
  <ion-nav-buttons side="primary">
    <a class="button button-clear" nav-direction="back" href="#/tab/order"><i class="icon ion-ios-arrow-back"></i> 返回</a>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-if="order.status === 'unpaid'" ng-click="cancel()">取消订单</button>
  </ion-nav-buttons>
  <ion-content class="content-gray">
    <ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()"></ion-refresher>
    <ion-list>
      <div class="item-header no-padding" ng-if="order.status === 'unpaid'">
        <a class="button button-full button-light no-margin" nav-direction="forward" ng-href="#/order/pay/{{order.id}}"><i class="icon ion-card"></i> 支付
        (<countdown time="{{order.timeout * 1000}}" format="mm:ss" on-finish="orderTimeout()"></countdown>)
        </a>
      </div>
      <div class="item-header no-padding" ng-if="order.status === 'shipped'">
        <button class="button button-full button-light no-margin" ng-click="receive()"><i class="icon ion-pricetag"></i> 确认收货</button>
      </div>
      <div class="item-header no-padding"></div>
      <ion-item class="item-icon-left item-icon-right" nav-direction="forward" type="item-text-wrap" ng-href="#/store/{{order.storeId}}">
        <i class="icon ion-bag"></i>
        <p>{{order.storeName}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item type="item-text-wrap" class="no-padding" ng-repeat="goods in order.goods">
        <div class="row">
          <p class="col">{{goods.name}}</p>
          <p class="col col-20 text-center">{{goods.count}}{{goods.unit}}</p>
          <p class="col col-20 text-right">&yen;{{goods.price}}</p>
        </div>
      </ion-item>
      <ion-item class="item-divider"></ion-item>
      <ion-item type="item-text-wrap" class="no-padding" ng-if="order.downVal">
        <div class="row">
          <p class="col"><span class="assertive">满减优惠</span></p>
          <p class="col col-20 text-right"><span class="assertive">-&yen;{{order.downVal}}</span></p>
        </div>
      </ion-item>
      <ion-item type="item-text-wrap" class="no-padding" ng-if="order.giftVal">
        <div class="row">
          <p class="col"><span class="assertive">满送优惠</span></p>
          <p class="col col-20 text-right"><span class="assertive">-&yen;{{order.giftVal}}</span></p>
        </div>
      </ion-item>
      <ion-item type="item-text-wrap" class="no-padding" ng-if="order.newDownVal">
        <div class="row">
          <p class="col"><span class="assertive">新用户立减优惠</span></p>
          <p class="col col-20 text-right"><span class="assertive">-&yen;{{order.newDownVal}}</span></p>
        </div>
      </ion-item>
      <ion-item type="item-text-wrap" class="no-padding">
        <div class="row">
          <p class="col">合计</p>
          <p class="col col-20 text-right">&yen;{{order.realFee}}</p>
        </div>
      </ion-item>
      <ion-item class="item-divider"></ion-item>
      <ion-item type="item-text-wrap" class="no-padding">
        <div class="row">
          <p class="col col-33">订单编号</p>
          <p class="col col-67">{{order.orderSn}}</p>
        </div>
        <div class="row">
          <p class="col col-33">订单时间</p>
          <p class="col col-67">{{order.createdAt * 1000 | date: 'yyyy-MM-dd HH:mm:ss'}}</p>
        </div>
        <div class="row">
          <p class="col col-33">订单状态</p>
          <p class="col col-67">{{order.statusMsg}}</p>
        </div>
        <div class="row">
          <p class="col col-33">支付方式</p>
          <p class="col col-67">{{order.paymentMsg}}</p>
        </div>
        <div class="row">
          <p class="col col-33">收货人</p>
          <p class="col col-67">{{order.address.consignee}}</p>
        </div>
        <div class="row">
          <p class="col col-33">手机号码</p>
          <p class="col col-67">{{order.address.cellphone}}</p>
        </div>
        <div class="row">
          <p class="col col-33">收货地址</p>
          <p class="col col-67 wrap">{{order.addressMsg}}</p>
        </div>
        <div class="row">
          <p class="col col-33">订单描述</p>
          <p class="col col-67 wrap">{{order.description}}</p>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
