<ion-view view-title="帮助中心">
  <ion-nav-buttons side="primary">
    <a class="button button-clear" nav-direction="back" href="#/tab/i"><i class="icon ion-ios-arrow-back"></i> 返回</a>
  </ion-nav-buttons>
  <ion-content class="content-gray">
    <ion-list>
      <div class="item item-divider">订单相关</div>
      <ion-item class="item-icon-right" nav-direction="forward" type="item-text-wrap" href="#/help/1">
        <p>在线支付支持什么付款方式？</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" nav-direction="forward" type="item-text-wrap" href="#/help/2">
        <p>货到付款支持什么付款方式？</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" nav-direction="forward" type="item-text-wrap" href="#/help/3">
        <p>能提供发票吗？</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <div class="item item-divider">关于配送</div>
      <ion-item class="item-icon-right" nav-direction="forward" type="item-text-wrap" href="#/help/4">
        <p>成功下单后，多久能送到？</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" nav-direction="forward" type="item-text-wrap" href="#/help/5">
        <p>你们的送货范围是？</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" nav-direction="forward" type="item-text-wrap" href="#/help/6">
        <p>有配送费吗？</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" nav-direction="forward" type="item-text-wrap" href="#/help/7">
        <p>可以退货吗？</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" nav-direction="forward" type="item-text-wrap" href="#/help/8">
        <p>可以上门取货吗？</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <div class="item item-divider">账户问题</div>
      <ion-item class="item-icon-right" nav-direction="forward" type="item-text-wrap" href="#/help/9">
        <p>忘记密码怎么办？</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" nav-direction="forward" type="item-text-wrap" href="#/help/10">
        <p>如何更换手机号？</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>