<ion-view view-title="加入我们">
  <ion-nav-buttons side="primary">
    <a class="button button-clear" nav-direction="back" ng-click="Helper.back()"><i class="icon ion-ios-arrow-back"></i> 返回</a>
  </ion-nav-buttons>
  <ion-content class="content-gray">
    <div class="list card">
      <div class="item">
        <h2>Bootstrap设计师</h2>
      </div>
      <div class="item item-body">
        <img class="full-image" src="img/engineer.jpg">
        <p>正如你所见，笑e购是用Bootstrap设计的，如果你把自己定位成一个普通的美工，或者没有接触过Bootstrap，你应该看一下其他职位。如果你很擅长使用Bootstrap设计完美的响应式界面，当然你对HTML5、CSS以及jQuery也应该相当熟悉，那么你就是我们极力挖取的人才。</p>
      </div>
    </div>
    <div class="list card">
      <div class="item">
        <h2>校园经理</h2>
      </div>
      <div class="item item-body">
        <img class="full-image" src="img/manager.jpg">
        <p>校园经理是连接营业点与笑e购总部的枢纽，负责笑e购品牌的宣传，以及统计学校内各营业点的商品数量，及时补货。</p>
      </div>
    </div>
    <div class="list card">
      <div class="item">
        <h2>营业点店长</h2>
      </div>
      <div class="item item-body">
        <img class="full-image" src="img/delivery.jpg">
        <p>如果你是一个学生，不想在宿舍内浪费光阴，那么证明你实力的机会来了！加入笑e购店长，只需要在同一栋楼内送货即可。</p>
      </div>
    </div>
  </ion-content>
</ion-view>
