<ion-view view-title="更多">
  <ion-nav-buttons side="primary">
    <a class="button button-clear" nav-direction="back" href="#/tab/i"><i class="icon ion-ios-arrow-back"></i> 返回</a>
  </ion-nav-buttons>
  <ion-content class="content-gray">
    <div class="copyright padding">
      <img src="img/logo2.png">
      <p>官方电话：0510-83295110</p>
      <p>微信公众号：xiaoegoguanfang</p>
    </div>
    <ion-list>
      <ion-item class="item-icon-right" nav-direction="forward" type="item-text-wrap" href="#/more/joinus">
        <p>加入我们</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" nav-direction="forward" type="item-text-wrap" href="#/more/feedback">
        <p>意见反馈</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
