<ion-tabs class="tabs-icon-top tabs-color-active-assertive tabs-light">

  <!-- Home Tab -->
  <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="home"></ion-nav-view>
  </ion-tab>

  <!-- Order Tab -->
  <ion-tab title="订单" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/order">
    <ion-nav-view name="order"></ion-nav-view>
  </ion-tab>

  <!-- My Tab -->
  <ion-tab title="我的" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/i">
    <ion-nav-view name="i"></ion-nav-view>
  </ion-tab>

</ion-tabs>
