@CHARSET "UTF-8";

/* Bootstrap css */
small, .small {
    font-size: 85%;
}

mark, .mark {
    padding: .2em;
    background-color: #fcf8e3;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.alert {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 2px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-small {
  font-size: 12px;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/* Flash animation */
/*
.alertIn, .alertOut {
    -webkit-transition: -webkit-transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
    -moz-transition: -moz-transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
    -o-transition: -o-transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
    transition: transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
}
.alertIn.ng-hide-remove, .alertOut.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0px, 0px);
    transform: translate3d(100px, 0px, 0px);
    display: block !important;
}
.alertOut.ng-hide-add, .alertIn.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    display: block !important;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}
*/

/* Feature */
.feature {
    width: 20px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #666;
    margin-right: 5px;
    display: inline-block;
    cursor: default;
    line-height: 18px;
}

.feature-red {
    color: #fff;
    border-color: #f75353;
    background-color: #f75353;
}

.feature-orange {
    color: #fff;
    border-color: #f78153;
    background-color: #f78153;
}

.feature-blue-o {
    color: #609cec;
    border-color: #609cec;
}

.feature-purple-o {
    color: #cb79e6;
    border-color: #cb79e6;
}

/* Quantity */
.quantity {
    width: 75px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.quantity button {
    width: 24px;
    height: 23px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background: #fff;
    padding: 0;
    margin: 0;
}
.quantity .quantity-minus {
    color: #ccc;
}
.quantity .quantity-plus {
    color: #c9302c;
}
.quantity .quantity-plus[disabled] {
    color: #d9534f;
}
.quantity .quantity-count {
    display: inline-block;
    min-width: 16px;
    text-align: center;
}
.quantity button:focus,
.quantity button:active {
    border-color: #c9302c;
    background-color: #c9302c;
    color: #fff;
}

.quantity button[disabled] {
    pointer-events: none;
}

/* Common style */
.content-gray {
    background-color: #f5f5f5;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.wrap {
    white-space: normal !important;
}

.price {
    color: #c9302c !important;
}

.table-full {
    width: 100%;
}

.table-fixed {
    table-layout: fixed;
}

.item-header {
    margin-top: 30px;
    padding: 10px;
}

.item-order h2 {
    margin-bottom: 8px;
}

.box img {
    width: 100%;
}

.home-header {
    font-size: 18px;
    color: #444;
    padding-bottom: 10px;
    border-bottom: 1px solid #444;
}

.bar .button-title {
    line-height: 35px;
    margin-top: 3px;
}

.invalid {
    border-color: #e42012;
}

label.label-invalid {
    border-color: #e42012;
    margin-bottom: 1px;
}

.note {
    text-align: center;
    font-size: 14px;
    opacity: .3;
    text-shadow: 1px 0 1px #FFF;
}

.item-divider span {
    font-size: 12px;
}

.card .item-body p {
    font-size: 12px;
    text-indent: 2em;
    margin-top: 10px;
}

.item .light-red {
    color: #FFC9C9;
}

/* Store */
.store-item {
    margin-top: 0;
    margin-right: 0;
}

.store-status {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 10px;
    border-left: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    padding: 0 5px;
    color: #666;
}

.store-block {
    color: #fff;
    min-height: 70px;
    padding: 15px 10px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,.4);
    background: url(../img/bg3.jpg) center center;
}

.store-block h2 {
    color: #fff;
    font-size: 20px;
}
.store-block p {
    font-size: 13px;
}

/* Shopping */
.shopping-category {
    right: 70%;
}
.shopping-category .list {
    padding-right: 1px;
}
.shopping-category .item {
    padding: 10px;
    font-size: 14px;
    background-color: #ECECEC;
}
.shopping-category .item.active {
    color: #ef473a;
    background-color: #fff;
    border-right-color: #fff;
}
.shopping-goods {
    left: 30%;
}
.shopping-goods .item {
    padding: 10px;
}
.shopping-goods .item-thumbnail-left {
    padding-left: 62px;
    min-height: 62px;
}
.shopping-goods .item-thumbnail-left img {
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 3px;
}
.shopping-goods .item p {
    font-size: 10px;
    line-height: 10px;
}
.goods-sale {
    font-size: 14px;
}
.goods-sale .price {
    float: left;
    width: 0;
    white-space: nowrap;
    font-size: 13px;
}
.goods-sale .price del {
    font-size: 12px;
    margin-left: 2px;
}
.goods-sale .quantity {
    float: right;
    text-align: right;
}

.shopping-cart .title {
    left: 45px;
    text-align: left;
}

.shopping-cart button.button-cart {
    border: 1px solid #EF473A;
    border-radius: 50%;
    position: relative;
    top: -15px;
    color: #EF473A;
    padding: 0;
    margin: 0;
    width: 45px;
    height: 45px;
    background-color: #fff;
}

.shopping-cart button.button-cart.active,
.shopping-cart button.button-cart:active {
    color: #fff;
    background-color: #EF473A;
}

/* Modal goods */
.modal-goods img {
    width: 100%;
}
.modal-goods button.close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    color: #fff;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.33);
    opacity: .8;
    font-size: 16px;
}
.modal-goods-content {
    padding: 10px;
    min-height: 150px;
}
.modal-goods-content h2 {
    font-size: 18px;
    margin-top: 0;
}
.modal-goods-content p {
    font-size: 14px;
    color: #444;
}
.modal-goods-sale .price {
    float: left;
    width: 0;
    white-space: nowrap;
    font-size: 14px;
}
.modal-goods-sale .price del {
    font-size: 12px;
    margin-left: 2px;
}
.modal-goods-sale .quantity {
    float: right;
    text-align: right;
}

/* Modal cart */
.modal-cart .item {
    padding: 10px;
}
.modal-cart .item-thumbnail-left,
.modal-cart .item-thumbnail-left .item-content {
    padding-left: 82px;
    min-height: 82px;
}
.modal-cart .item-thumbnail-left>img,
.modal-cart .item-thumbnail-left .item-content>img {
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    border-radius: 3px;
}
.modal-cart .item-thumbnail-left.item-complex {
    padding: 0;
}

.modal-cart p {
    font-size: 12px;
}
.modal-cart .goods-sale .price {
    font-size: 14px;
}

/* Copyright */
.copyright {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.copyright img {
    max-width: 140px;
}
.copyright p {
    font-size: 12px;
    margin: 5px 0;
    color: #666;
}