@CHARSET "UTF-8";

/********************/
/* Custom LESS File */
/********************/
/* Color declaration */
/* Basic colors */
/* Social Media Colors */
/* default theme */
.theme {
  color: #e50a4a !important;
}
.br-theme {
  background: #e50a4a !important;
}
/***********/
/* General */
/***********/
body {
  color: #666666;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #555555;
}
a,
a:active,
a:focus {
  color: #777777;
}
a:hover {
  color: #555555;
}
/**********************/
/* Text color classes */
/**********************/
.white {
  color: #ffffff !important;
}
.grey {
  color: #eeeeee !important;
}
.black {
  color: #555555 !important;
}
.red {
  color: #f75353 !important;
}
.green {
  color: #51d466 !important;
}
.lblue {
  color: #32c8de !important;
}
.blue {
  color: #609cec !important;
}
.orange {
  color: #f78153 !important;
}
.yellow {
  color: #fcd419 !important;
}
.purple {
  color: #cb79e6 !important;
}
.pink {
  color: #ff61e7 !important;
}
.brown {
  color: #d08166 !important;
}
/****************************/
/* Background color classes */
/****************************/
.br-white {
  background-color: #ffffff !important;
}
.br-grey {
  background-color: #eeeeee !important;
}
.br-black {
  background-color: #555555 !important;
}
.br-red {
  background-color: #f75353 !important;
}
.br-green {
  background-color: #51d466 !important;
}
.br-lblue {
  background-color: #32c8de !important;
}
.br-blue {
  background-color: #609cec !important;
}
.br-orange {
  background-color: #f78153 !important;
}
.br-yellow {
  background-color: #fcd419 !important;
}
.br-purple {
  background-color: #cb79e6 !important;
}
.br-pink {
  background-color: #ff61e7 !important;
}
.br-brown {
  background-color: #d08166 !important;
}
/************************/
/* Button color classes */
/************************/
.btn.btn-general {
  background: #f9f9f9;
  color: #555555;
  border: 1px solid #aaaaaa;
}
.btn.btn-general:hover {
  background: #eeeeee;
}
.btn.btn-black {
  color: #ffffff;
  background: #555555;
  border: 1px solid #333333;
}
.btn.btn-black:hover {
  background: #333333;
}
.btn.btn-red {
  color: #ffffff;
  background: #f75353;
  border: 1px solid #ed4747;
}
.btn.btn-red:hover {
  background: #ed4747;
}
.btn.btn-green {
  color: #ffffff;
  background: #51d466;
  border: 1px solid #42c557;
}
.btn.btn-green:hover {
  background: #42c557;
}
.btn.btn-lblue {
  color: #ffffff;
  background: #32c8de;
  border: 1px solid #2bbdd2;
}
.btn.btn-lblue:hover {
  background: #2bbdd2;
}
.btn.btn-blue {
  color: #ffffff;
  background: #609cec;
  border: 1px solid #528fe2;
}
.btn.btn-blue:hover {
  background: #528fe2;
}
.btn.btn-orange {
  color: #ffffff;
  background: #f78153;
  border: 1px solid #eb6c3a;
}
.btn.btn-orange:hover {
  background: #eb6c3a;
}
.btn.btn-yellow {
  background: #fcd419;
  color: #ffffff;
  border: 1px solid #e9c51b;
}
.btn.btn-yellow:hover {
  background: #e9c51b;
}
.btn.btn-purple {
  background: #cb79e6;
  color: #ffffff;
  border: 1px solid #b75bd6;
}
.btn.btn-purple:hover {
  background: #b75bd6;
}
.btn.btn-pink {
  background: #ff61e7;
  color: #ffffff;
  border: 1px solid #f245d8;
}
.btn.btn-pink:hover {
  background: #f245d8;
}
.btn.btn-brown {
  background: #d08166;
  color: #ffffff;
  border: 1px solid #bf6748;
}
.btn.btn-brown:hover {
  background: #bf6748;
}
/*********/
/* Label */
/*********/
.label.label-general {
  color: #aaaaaa;
  background: #eeeeee;
}
.label.label-black {
  background: #555555;
}
.label.label-red {
  background: #f75353;
}
.label.label-green {
  background: #51d466;
}
.label.label-lblue {
  background: #32c8de;
}
.label.label-blue {
  background: #609cec;
}
.label.label-orange {
  background: #f78153;
}
.label.label-yellow {
  background: #fcd419;
}
.label.label-purple {
  background: #cb79e6;
}
.label.label-pink {
  background: #ff61e7;
}
.label.label-brown {
  background: #d08166;
}
/****************/
/* Progress bar */
/****************/
.progress-bar.progress-bar-general {
  background: #eeeeee;
}
.progress-bar.progress-bar-black {
  background: #555555;
}
.progress-bar.progress-bar-red {
  background: #f75353;
}
.progress-bar.progress-bar-green {
  background: #51d466;
}
.progress-bar.progress-bar-lblue {
  background: #32c8de;
}
.progress-bar.progress-bar-blue {
  background: #609cec;
}
.progress-bar.progress-bar-orange {
  background: #f78153;
}
.progress-bar.progress-bar-yellow {
  background: #fcd419;
}
.progress-bar.progress-bar-purple {
  background: #cb79e6;
}
.progress-bar.progress-bar-pink {
  background: #ff61e7;
}
.progress-bar.progress-bar-brown {
  background: #d08166;
}
/****************/
/* Panels */
/****************/
.panel.panel-general {
  border-color: #aaaaaa;
}
.panel.panel-general .panel-heading {
  background: #eeeeee;
  border-color: #aaaaaa;
}
.panel.panel-black {
  border-color: #333333;
}
.panel.panel-black .panel-heading {
  background: #555555;
  border-color: #333333;
}
.panel.panel-red {
  border-color: #ed4747;
}
.panel.panel-red .panel-heading {
  background: #f75353;
  border-color: #ed4747;
}
.panel.panel-green {
  border-color: #42c557;
}
.panel.panel-green .panel-heading {
  background: #51d466;
  border-color: #42c557;
}
.panel.panel-lblue {
  border-color: #2bbdd2;
}
.panel.panel-lblue .panel-heading {
  background: #32c8de;
  border-color: #2bbdd2;
}
.panel.panel-blue {
  border-color: #528fe2;
}
.panel.panel-blue .panel-heading {
  background: #609cec;
  border-color: #528fe2;
}
.panel.panel-orange {
  border-color: #eb6c3a;
}
.panel.panel-orange .panel-heading {
  background: #f78153;
  border-color: #eb6c3a;
}
.panel.panel-yellow {
  border-color: #e9c51b;
}
.panel.panel-yellow .panel-heading {
  background: #fcd419;
  border-color: #e9c51b;
}
.panel.panel-purple {
  border-color: #b75bd6;
}
.panel.panel-purple .panel-heading {
  background: #cb79e6;
  border-color: #b75bd6;
}
.panel.panel-pink {
  border-color: #f245d8;
}
.panel.panel-pink .panel-heading {
  background: #ff61e7;
  border-color: #f245d8;
}
.panel.panel-brown {
  border-color: #bf6748;
}
.panel.panel-brown .panel-heading {
  background: #d08166;
  border-color: #bf6748;
}
/****************/
/* Social */
/****************/
.social a.facebook {
  background: #1e78ae;
}
.social a.twitter {
  background: #1ba1e2;
}
.social a.google-plus {
  background: #f22d0c;
}
.social a.linkedin {
  background: #2d93cf;
}
.social a.pinterest {
  background: #dd1617;
}
.social a:hover {
  background: #333333;
}
.form-control:focus {
  border-color: #e50a4a;
}
/* header */
header .header-top .welcome-text {
  color: #e50a4a;
}
header .header-top ul li a:hover {
  background: #e50a4a;
}
header .header-top ul li button:hover {
  background: #e50a4a;
}
header .navbar {
  background: #e50a4a;
}
header .navbar .dropdown-menu li a i {
  color: #e50a4a;
}
header .navbar .big-menu .menu-item .btn {
  border-top: 1px solid #e50a4a;
}
header .navbar .big-menu .menu-item .btn:hover {
  background: #e50a4a;
  color: #ffffff;
}
header .navbar .big-menu .menu-item:hover {
  border-color: #e50a4a;
}
/* main content */
.main-content {
  /* recent sale item */
  /* popular sale */
  /* inner content */
  /* site map */
  /* contact page */
}
.main-content .recent-sale .sale-item .cart-btn .btn .price {
  background: #e50a4a;
}
.main-content .recent-sale .sale-item .media-1,
.main-content .recent-sale .sale-item .media-2,
.main-content .recent-sale .sale-item .media-3 {
  color: #e50a4a;
}
.main-content .popular-sale .sale-item .cart-btn .btn .price {
  background: #e50a4a;
}
.main-content .popular-sale .carousel-control {
  color: #e50a4a;
}
.main-content .or {
  background: #e50a4a;
}
.main-content .navi h3 {
  background: #e50a4a;
  border-color: #e50a4a;
  box-shadow: 0 1px 2px #e50a4a;
}
.main-content .navi ul li a:hover {
  color: #e50a4a;
}
.main-content .navi ul li a:hover i {
  color: #e50a4a;
}
.main-content .navi ul li.open a {
  color: #e50a4a;
}
.main-content .side-promo h3 a span {
  color: #e50a4a;
}
.main-content .item-details .nav-tabs li.active > a {
  background: #e50a4a;
}
.main-content .item-details .nav-tabs li.active > a:focus {
  background: #e50a4a;
}
.main-content .item-details .nav-tabs li.active > a:hover {
  background: #e50a4a;
}
.main-content .site-map ul li i {
  color: #e50a4a;
}
.main-content .contact-page .address i {
  color: #e50a4a;
}
.main-content .contact-page .address .social i {
  color: #ffffff;
}
/* shopping cart and storeinfo */
.shopping-cart h2,
.storeinfo h2 {
  background: #e50a4a;
  border-color: #e50a4a;
  box-shadow: 0 1px 2px #e50a4a;
}
/* order */
.order-item h4 {
  background: #e50a4a;
  border-color: #e50a4a;
  box-shadow: 0 1px 2px #e50a4a;
}
/* orderview */
.orderview {
  background-color: #f75353;
  border-color: #e50a4a;
  box-shadow: 0 1px 2px #e50a4a;
}
/* footer */
footer {
  border-top: 2px solid #e50a4a;
}