<ion-view view-title="我的账户">
  <ion-nav-buttons side="primary">
    <a class="button button-clear" nav-direction="back" ng-href="#/tab/i"><i class="icon ion-ios-arrow-back"></i> 返回</a>
  </ion-nav-buttons>
  <ion-content class="content-gray">
    <ion-list>
      <ion-item class="item-icon-left item-icon-right" nav-direction="forward" type="item-text-wrap" href="#/i/account/nickname">
        <i class="icon ion-chatbubble-working"></i>
        <p>昵称<span class="item-note">修改</span></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" nav-direction="forward" type="item-text-wrap" href="#/i/account/gender">
        <i class="icon ion-male" ng-show="AccountService.gender === 'male'"></i>
        <i class="icon ion-female" ng-show="AccountService.gender === 'woman'"></i>
        <i class="icon ion-transgender" ng-show="AccountService.gender === 'other'"></i>
        <p>性别<span class="item-note">{{AccountService.getGenderMsg()}}</span></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <div class="item item-divider"></div>
      <ion-item class="item-icon-left item-icon-right" nav-direction="forward" type="item-text-wrap" href="#/i/account/mobile/verify">
        <i class="icon ion-ios-telephone"></i>
        <p>{{AccountService.getSymbolMobile()}}<span class="item-note">更换</span></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" nav-direction="forward" type="item-text-wrap" href="#/i/account/email">
        <i class="icon ion-email"></i>
        <p ng-if="AccountService.email">{{AccountService.email}}<span class="item-note">修改</span></p>
        <p ng-if="!AccountService.email">绑定邮箱</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" nav-direction="forward" type="item-text-wrap" href="#/i/account/password">
        <i class="icon ion-key"></i>
        <p>修改账户密码</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <div class="item item-divider"></div>
      <button class="button button-full button-light no-margin" ng-click="logout()">退出当前帐号</button>
    </ion-list>
  </ion-content>
</ion-view>
