<ion-view view-title="设置新密码">
  <ion-nav-buttons side="primary">
    <a class="button button-clear" nav-direction="back" href="#/i/account/password"><i class="icon ion-ios-arrow-back"></i> 返回</a>
  </ion-nav-buttons>
  <ion-content class="content-gray padding">
    <form name="form" novalidate>
      <ion-list class="list-inset">
        <div class="alert alert-warning alert-small" ng-hide="Helper.isEmptyObject(errors)">
          <ul>
            <li ng-repeat="message in errors">{{message}}</li>
          </ul>
        </div>
        <label ng-class="['item item-input', {'label-invalid': form.password.$dirty && form.password.$invalid}]">
          <input type="password" name="password" placeholder="新密码" required password ng-model="data.password">
        </label>
        <label ng-class="['item item-input', {'label-invalid': form.passwordRepeat.$dirty && (form.passwordRepeat.$invalid || data.passwordRepeat !== data.password)}]">
          <input type="password" name="passwordRepeat" placeholder="确认新密码" required password ng-model="data.passwordRepeat">
        </label>
        <button class="button button-block button-balanced" ng-click="submit(data)" ng-disabled="!form.$dirty || form.$invalid || data.passwordRepeat !== data.password">确认提交</button>
      </ion-list>
    </form>
  </ion-content>
</ion-view>
