<ion-view view-title="邮箱">
  <ion-nav-buttons side="primary">
    <a class="button button-clear" nav-direction="back" href="#/i/account"><i class="icon ion-ios-arrow-back"></i> 返回</a>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" type="button" ng-if="AccountService.email" ng-click="remove()">解除绑定</button>
  </ion-nav-buttons>
  <ion-content class="content-gray padding">
    <form name="form" novalidate>
      <ion-list class="list-inset">
        <div class="alert alert-info alert-small" ng-if="AccountService.email">当前绑定邮箱：{{AccountService.email}}，如您想更换邮箱请输入新邮箱并点击下一步。</div>
        <div class="alert alert-warning alert-small" ng-hide="Helper.isEmptyObject(errors)">
          <ul>
            <li ng-repeat="message in errors">{{message}}</li>
          </ul>
        </div>
        <label ng-class="['item item-input', {'label-invalid': form.email.$dirty && form.email.$invalid}]">
          <input type="email" name="email" placeholder="邮箱" required email ng-model="data.email">
        </label>
        <button class="button button-block button-balanced" ng-click="submit(data)" ng-disabled="!form.$dirty || form.$invalid">下一步 <i class="icon ion-ios-arrow-forward"></i></button>
      </ion-list>
    </form>
  </ion-content>
</ion-view>
